[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
pydantic = "*"

[dev-packages]
python-dotenv = "*"
motor = "*"
asyncio = "*"

[requires]
python_version = "3.10"
